body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.RowFS {
  width: 100%;
  box-sizing: border-box;
  zoom: 1;
}
.RowFS::before,
.RowFS::after {
  content: ' ';
  display: table;
}
.RowFS::after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; 
}
.RowFS-col {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  float: left;
}

